.button-container {
  width: 100%;
  height: 50px;
}
.button {
  top: 13px;
  left: calc(5%);
  background: url(../assets/plus.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}
