.search-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  width: 100;
  min-width: 200px;
  height: 100px;
  text-align: center;
}
.search-input {
  width: 60%;
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
}
.search-input::placeholder {
  text-transform: uppercase;
}
