.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 50px 0;
}
.item-container {
  width: 40%;
}
.list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0px;
  padding: 15px 0;
  border: 2px solid black;
  border-radius: 15px;
}
.check {
  position: absolute;
  top: 8px;
  left: calc(50% - 180px);
  background-image: url(../assets/check.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}
.delete {
  position: absolute;
  top: 8px;
  left: calc(50% - 180px);
  background-image: url(../assets/cross.svg);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}
