.alternative-text {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: darkblue;
}
.container-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #b1bcfa;
}
