.form-container {
  width: 50%;
  max-width: 500px;
  min-width: 320px;
  height: 50%;
  max-height: 500px;
  min-height: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 80px rgba(89, 73, 30, 0.9);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
}
.form-title {
  width: 80%;
  display: block;
  color: black;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
}
.form-note {
  min-height: 30%;
  width: 80%;
  min-width: 245px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0px 50%;
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
  background-color: #fff;
  border-radius: 10px;
  font-style: italic;
}
.form-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  width: 80%;
  height: 40px;
}
.form-button-container button {
  outline: none;
  width: 150px;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  border: 2px solid rgba(255, 83, 83, 1);
  color: rgba(255, 83, 83, 1);
  background-color: #fff;
}
.form-button-container .button-text-write {
  border: 2px solid rgba(255, 83, 83, 1);
  color: rgba(255, 83, 83, 1);
}
.form-button-container .button-text-add {
  border: none;
  background-color: rgba(131, 129, 255, 1);
  color: #fff;
}
@media (min-width: 768px) {
  .form-container {
    width: 75%;
    height: 25%;
  }
}
